@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Mukta");

:root {
    --max-z-index: 2100000000;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.Inactive {
    display: none;
}

.Foreground {
    z-index: --max-z-index;
}

/* Header */
header {
    /* height: 60px; */
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: var(--max-z-index);
    height: 60px;
    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */
}

.header-left {
    float: left;
    margin: 10px;
}

.logo {
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
}

.now-board {
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
    color: #fff;
}

.header-right {
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    float: right;
}

.header-right .Btn {
    height: 60px;
    margin: 0;
    color: white;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(0,0,0,.3);
    position: relative;
}

.header-right .Btn:hover {
    background-color: rgba(34, 49, 52, .5);
}

.DropDownMenu {
    display: none;
}

.pdfMenuBtn:hover .DropDownMenu {
    width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgba(34, 49, 52, .8);
}

.BoardMenuBtn:hover .DropDownMenu {
    width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgba(34, 49, 52, .8);
}

.DropDownMenu ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.DropDownMenu li{
    width: 100px;
    height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.DropDownMenu li:hover {
    background-color: rgba(34, 49, 52, .3);
}

.DropDownMenu a {
    color: white;
}

/* Contents */
.MainWrapper {
    margin-top: 60px;
    width: 100%;
    height: 880px;
    /* display: flex;
    justify-content: space-between; */
}

.pdfWrapper {
    width: 550px;
    height: 100%;
    /* margin-left: 10px; */
    position: fixed;
    top: 60px;
    left: 0;
    z-index: var(--max-z-index);
    background-color: rgba(227,228,232,.8);
}

.Doc {
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
}

#doc-switch-btn {
    z-index: 999;
}

.MsgWrapper {
    /* width: 900px; */
    width: 100%;
    height: 100%;
    margin: 20px auto;
    background-color: rgba(128,128,128,.1);
    /* padding: 10px 10px; */
    margin: 0 10px 0 10px;
    border-radius: 5px;
    /* position: relative; */
}

.LogWrapper {
    width: 300px;
    height: 100%;
    /* margin-right: 10px; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    z-index: var(--max-z-index);
    background-color: rgba(227,228,232,.8);
    margin-top: 60px;
    padding: 10px 10px 70px 10px;
}

.Log {
    display: flex;
    flex-direction: column-reverse;
}

.LogContent {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.Log p {
    font-size: small;
    margin: 5px 0;
}

.InputWrapper {
    width: 100%;
}

.DrawWrapper {
    width: 100%;
}


/* output-form */

.Board {
    overflow: scroll scroll;
    width: 100%;
    height: 100%;
    position: relative;
    /* border: .5px rgba(128,128,128,.4) solid; */
}

/* Speech Balloon */

.SpeechBalloon {
    border-radius: 8px;
    padding: 0 20px;
    margin: 1rem;
    font-size: 20px;
    font-family: sans-serif;
    /* translate: (0, 0); */
    touch-action: none;

    /* This makes things *much* easier */
    box-sizing: border-box;
    /* overflow: hidden; */
    position: relative;
}

.SpeechBalloon p {
    overflow-wrap: break-word;
    margin: 0 0 10px 0;
    /* padding: 10px 0; */
}

.SpeechBalloon textarea {
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.SpeechBalloon .SelectorMenu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    right: -60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SpeechBalloon .StatusMenu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ChatInfo {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Name {
    font-weight: bold;
}
.TimeStamp {
    font-size: 15px;
    font-weight: lighter;
    color: rgba(0,0,0,.5);
    padding: 5px 0 0 0;
}
.SpeechBalloon p {
    margin-top: 0;
}
.ColorSelector {
    position: absolute;
    top: 0px;
    right: -40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* display: none; */
}
/* .ColorCircle {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 2px;
    border: solid 1px #dedede;
    border-radius: 50%;

}
.ColorCircle:hover {
    cursor: pointer;
    opacity: .5;
} */
/* #black {
    background-color: black;
}
#tomato {
    background-color: tomato;
}
#darkturquoise {
    background-color: darkturquoise;
}
#gold {
    background-color: gold;
}
#mediumseagreen {
    background-color: mediumseagreen;
}
#gainsboro {
    background-color: gainsboro;
} */

.SemanticSelector {
    position: absolute;
    top: -10px;
    right: -120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* display: none; */
}
.SemanticCircle {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    border: solid 1px #dedede;
    color: black;
    background-color: gainsboro;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
}
.SemanticCircle:hover {
    cursor: pointer;
    opacity: .5;
}
#none {
    background-color: rgba(227,228,232,.6);
}
#idea {
    background-color: rgba(255,105,98,.6);
}

#facilitation {
    background-color: rgba(136,196,228,.6);
}
#question {
    background-color: rgba(255,175,104,.6);
}
#answer {
    background-color: rgba(192,231,197,.8);
}
#comment {
    background-color: rgba(246,230,131,.6);
}
#information {
    background-color: rgba(151,150,188,.6);
}

/* InputForm */

footer {
    width: 100%;
    background-color: rgba(227,228,232,.8);
    position :fixed;
    bottom: 0;
    z-index: var(--max-z-index);
}

.Btn {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    margin: 0 10px;
    /* box-shadow: 5px 5px black; */
}

.Btn:hover {
    background-color: gainsboro;
}


.HalfBtn {
    align-self: center;
    width: 50px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    margin: 0 10px;
    /* box-shadow: 5px 5px black; */
}

.HalfBtn:hover {
    background-color: gainsboro;
    opacity: 1;
}

.Tools {
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin-top: 15px; */
}

.FacilitateWrapper .Tools {
    height: 150px;
    justify-content: center;
}

.FacilitateWrapper .CheckBtns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
}

.FacilitateWrapper .Check {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    background-color: rgba(247,248,252,.8);
    margin: 0 10px;
}

.FacilitateWrapper .Check p {
    text-align: center;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.FacilitateWrapper .Icon {
    text-align: center;
}

.FacilitateWrapper .OK:hover {
    background-color: rgba(192,231,197,1);
}

.FacilitateWrapper .NG:hover {
    background-color: rgba(255,105,98,1);
}

.FacilitateWrapper .RequestBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.FacilitateWrapper .RequestBtns button {
    height: 60px;
}


.InputForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.InputFormUpside {
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    float: right;
}

.InputFormDownside {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
} */

#uname {
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 0 10px;
    /* margin-bottom: 20px; */
    font-size: 1rem;
    width: 350px;
    height: 40px;
    margin: 10px 370px 10px 10px;
    /* float: left; */
}

/* #voice-rec-btn { */
.CircleBtn {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 10px 10px;
    background-color: white;
}
/* #voice-rec-btn:hover { */
.CircleBtn:hover {
    background-color: gainsboro;
    opacity: 1;
}

.HalfCircleBtn {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    padding: 2.5px;
    border: solid 1px #ababab;
    cursor: pointer;
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 10px 10px;
    background-color: white;
}
.CheckBtn:hover {
    background-color: rgba(192,231,197,.8);
    opacity: 1;
}
.TrashBtn:hover {
    background-color: rgba(255,105,98,.8);
    opacity: 1;
}



.SelectorMenu .CircleBtn {
    margin: 5px 5px;
}

.MiniCircleBtn {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    padding: 1px;
    border: solid 1px #ababab;
    cursor: pointer;
    /* display: inline-block; */
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 20px 20px;
    background-color: white;
}
/* #voice-rec-btn:hover { */

.Unread {
    background-color: tomato;
}

.fa {
    text-align: center;
    pointer-events: none;
}
.fas {
    text-align: center;
    pointer-events: none;
}
.far {
    text-align: center;
    pointer-events: none;
}


/* Whiteboard */

.board-wrapper {
    width: 100%;
    height: 900px;
    margin-top: 40px;
    background-color: #aaa;
}


/* Log */
.LogContent {
    cursor: pointer;
}

.LogContent:hover {
    opacity: .5;
}

.HintBtn {
    position: relative;
}

.HintBtn:hover .Hint {
    display: inline;
}

.Hint {
    display: none;
    background-color: rgba(227,228,232,.6);
    border-radius: 20%;
    width: 3rem;
}

.HintLeft {
    position: absolute;
    top: -10%;
    right: 150%;
}

.HintRight {
    position: absolute;
    top: 15%;
    left: 120%;
}

.HintBottom {
    font-size: 12px;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    width: 5rem;
    position: absolute;
    top: 150%;
    left: -50%;
}

