@import url("https://fonts.googleapis.com/css?family=Mukta");

body {
    margin: 0px;
    padding: 30px;
    font-family: "Mukta";
    overflow: hidden;
    background-color: aliceblue;
    cursor: url("../source/pen.png"), cell;
}

canvas {
    box-shadow: -3px 2px 9px 6px white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.Tools {
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.Tools .ColorField {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 10px 10px;
}

.Tools .Btn {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    margin: 0 10px;
}

.Tools .HalfBtn {
    align-self: center;
    width: 50px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    margin: 0 5px;
}

.Tools .ColorPicker {
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    align-self: center;
    margin: 0px 15px;
}

.Tools .PenWeight {
    cursor: pointer;

}

.Tools .PenWeightBtnS {
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    /* padding: 25px 15px; */
    margin: 25px 15px;
}

.Tools .PenWeightBtnL {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 20px 15px;
}