@charset "UTF-8";

.msg-wrapper {
    width: 900px;
    height: 900px;
    margin: 20px auto;
    background-color: rgba(128,128,128,.2);
    padding: 30px 30px;
    border-radius: 5px;
    position: relative;
}
#output-form {
    overflow: scroll;
    height: 500px;
}
.chat-box {
    position: relative;
    display: flex;
    height: 100px;
    width: 85%;
    padding: 25px;
    margin: 15px;
    background-color: rgba(0,187,221,.2);
    border-radius: 5px;
}
.uname-box {
    background-color: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 1rem;
    padding: 0 2px;
    display: table;
}
.uname-box p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text-box {
    background-color: #0bd;
    border-radius: 5%;
    color: #fff;
    width: 80%;
    font-size: 1rem;
    padding: 0 auto;
    margin-left: 30px;
}
.text-box p {
    margin-left: 15px;
}
form div {
    margin-top: 30px;;
    margin-bottom: 15px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
#uname {
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 40%;
    height: 1rem;
}
textarea {
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    height: 6rem;
}
#send {
    border: none;
    cursor: pointer;
    line-height: 1;
    font-size: 1.125rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 9px 18px;
    box-shadow: 0 10px #0090aa;
    opacity: 0.7;
    margin-left: 5px;
}
#send:hover {
    background-color: #0bd;
    opacity: 1;
}
.unread-btn {
    background-color: #0bd;
    border-radius: 25%;
    color: #fff;
    height: 90%;
    font-size: 1rem;
    padding: 2 2px;
    margin: 0 auto;
}
#data-container {
    height: 100px;
}