@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
header {
    height: 40px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo {
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
    color: #fff;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    /* width: 160px; */
    margin-right: 40px;
    /* margin-right: -25px; */
    /* position: relative; */
}
/* .menu-icon {
    line-height: 40px;
    padding: 0 25px;
    color: white;
    /* display: block;  */
    /* margin-right: 40px; */
    /* transition: all 0.5s; */
    /* position: absolute;
    right: 40px; */
    /* text-align: left; */
/* } */
/* .menu-icon:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3); */
/* } */
#dropdown-menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* position: absolute;
    top: 40px;
    right: 40px; */
    /* text-align: left; */
}
#dropdown-menu li {
    /* display: block; */
    line-height: 40px;
    padding: 0 25px;
    transition: all 0.5s;
    /* background-color: rgba(34, 49, 52, 0.7); */
    float: left;
}
#dropdown-menu a {
    color: white;
}
#dropdown-menu li:hover {
    /* background-color: rgba(34, 49, 52, 0.5); */
    background-color: rgba(255, 255, 255, 0.3);
}


/* Whiteboard */

.board-wrapper {
    width: 100%;
    height: 900px;
    margin-top: 40px;
    background-color: #aaa;
}


/* Speech Balloon */

.drag-resize-tap-hold {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    padding: 4%;

    background-color: #29e;
    color: white;
    border-radius: 0.75em;

    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
}

.drag-resize-tap-hold.switch-bg {
    background-color: #f40;
}

.delete {
    display: none;
}
