/* Drag */
#drag-1, #drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
}



/* Drag & Drop */
#outer-dropzone {
height: 140px;
}

#inner-dropzone {
height: 80px;
}

.dropzone {
background-color: #bfe4ff;
border: dashed 4px transparent;
border-radius: 4px;
margin: 10px auto 30px;
padding: 10px;
width: 80%;
transition: background-color 0.3s;
}

.drop-active {
border-color: #aaa;
}

.drop-target {
background-color: #29e;
border-color: #fff;
border-style: solid;
}

.drag-drop {
display: inline-block;
min-width: 40px;
padding: 2em 0.5em;
margin: 1rem 0 0 1rem;

color: #fff;
background-color: #29e;
border: solid 2px #fff;

touch-action: none;
transform: translate(0px, 0px);

transition: background-color 0.3s;
}

.drag-drop.can-drop {
color: #000;
background-color: #4e4;
}



/* Snap */
#grid-snap {
    width: 40%;
    border-radius: 4px;
    padding: 2%;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: #fff;
    font-size: 1.2em;
    touch-action: none;
}



/* Resize */
.resize-drag {
    width: 120px;
    border-radius: 8px;
    padding: 20px;
    margin: 1rem;
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

    touch-action: none;

    /* This makes things *much* easier */
    box-sizing: border-box;
}



/* Tap & DoubleTap & Hold */
.tap-target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16em;
    height: 16em;
    padding: 1em;
    margin: 1rem auto;
    box-sizing: border-box;

    border-radius: 100%;

    font-size: 1.125em;
    text-align: center;
    color: #fff;
    background-color: #29e;

    cursor: pointer;
    touch-action: none;
    user-select: none;

    transition: all 0.3s;
}

.tap-target.switch-bg {
    background-color: #f40;
}

.tap-target.large {
    transform: scale(1.25);
}

.rotate {
    transform: rotate(180deg);
}