@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    }

/* Header */
header {
    height: 40px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}

.logo {
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
    color: #fff;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    /* width: 160px; */
    margin-right: 40px;
    /* margin-right: -25px; */
    /* position: relative; */
}
/* .menu-icon {
    line-height: 40px;
    padding: 0 25px;
    color: white;
    /* display: block;  */
    /* margin-right: 40px; */
    /* transition: all 0.5s; */
    /* position: absolute;
    right: 40px; */
    /* text-align: left; */
/* } */
/* .menu-icon:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3); */
/* } */
#dropdown-menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* position: absolute;
    top: 40px;
    right: 40px; */
    /* text-align: left; */
}
#dropdown-menu li {
    /* display: block; */
    line-height: 40px;
    padding: 0 25px;
    transition: all 0.5s;
    /* background-color: rgba(34, 49, 52, 0.7); */
    float: left;
}
#dropdown-menu a {
    color: white;
}
#dropdown-menu li:hover {
    /* background-color: rgba(34, 49, 52, 0.5); */
    background-color: rgba(255, 255, 255, 0.3);
}

/* Contents */
.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.pdf-wrapper {
    width: 45%;
    height: auto;
    /* margin-left: 20px; */
}

.msg-wrapper {
    /* width: 900px; */
    width: 45%;
    height: auto;
    /* margin: 20px auto; */
    background-color: rgba(128,128,128,.1);
    padding: 30px 30px;
    border-radius: 5px;
    position: relative;
}



/* output-form */
#output-form {
    overflow: hidden scroll;
    height: 600px;
    border: .5px rgba(128,128,128,.4) solid;
}
.chat-box {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    padding: 0 20px;
    border: .5px rgba(128,128,128,.5) solid;
    overflow: hidden;
    /* position: relative; */
}
/* .uname-box {
    /* background-color: rgba(128,128,128,.5); */
    /* overflow: hidden; */
/* } */
.chat-box p {
    overflow-wrap: break-word;
    margin: 0;
}
.uname-box {
    /* font-size: 1rem; */
    font-weight: bold;
    /* overflow-wrap: break-word;
    margin: 0; */
}
.uname-box span {
    font-size: small;
    font-weight: lighter;
    color: rgba(0,0,0,.6);
    margin: 5px 0;
    float: right;
}
/* .text-box {
    /* background-color:rgba(128,128,128,.8); */
    /* overflow: hidden; */
/* } */
/* .text-box { */
    /* font-size: 1rem; */
    /* overflow-wrap: break-word; */
    /* margin: 0; */
/* } */



/* input-form */
#input-form {
    margin: 20px 0 10px 0;
}
/* label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
} */
#uname {
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    width: 40%;
    height: 2.5rem;
}
#scroll-btn {
    /* display: block; */
    border: none;
    cursor: pointer;
    line-height: 1;
    font-size: 1.125rem;
    border-radius: 5px;
    padding: 9px 18px;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 10px rgba(0,0,0,1);
    opacity: 0.7;
    float: right;
}
#scroll-btn:hover {
    background-color: rgba(0,0,0,1);
    color: #fff;
}
#unread-btn {
    display: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    font-size: 1.125rem;
    border-radius: 5px;
    padding: 9px 18px;
    color: #fff;
    background-color: #cc0202;
    box-shadow: 0 10px #770000;
    opacity: 0.7;
    float: right;
}
#unread-btn:hover {
    background-color: #770000;
    color: #fff;
}
/* #text {
    border: 1px #000 solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    height: 6rem;
} */
#send-btn {
    border: none;
    cursor: pointer;
    line-height: 1;
    font-size: 1.125rem;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    border-radius: 5px;
    padding: 9px 18px;
    box-shadow: 0 10px rgba(0,0,0,1);
    opacity: 0.7;
    margin-top: 20px;
}
#send-btn:hover {
    background-color: rgba(0,0,0,1);
    opacity: 1;
}
